.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
	min-height: calc(100vh - 20px);
  }
}

.modal {
  .modal-header {
	border: 0;
  }

  .modal-body {
	padding: 2rem 1rem;
  }

  .modal-content {
	background-color: $exchange-panel-bg;

	.title {
	  margin-bottom: 1.5rem;
	  margin-top: 1.5rem;
	}

	.form-control {
	  border: 0;
	  background-color: $exchange-light-bg;
	  color: transparentize($font-light-color, 0.6);
	}

	.form-control, .btn {
	  width: 100%;
	  border-radius: 0;
	}

	.form-control[type=color] {
	  padding: 0;
	}
  }
}

.close {
  color: white;
  text-shadow: 0 0;

  &:focus, &:hover {
	color: white;
	outline: 0;
  }
}

.modal-login {
  .modal-content {
	.register-link {
	  text-align: right;
	  display: block;
	  margin-top: 0.4rem;
	}

	.message {
	  margin-bottom: 1rem;

	  padding: 0.375rem 0.75rem;

	  background-color: $danger;
	  color: white;
	}
  }
}