.chart-widget {
  width: 100%;
  height: 100%;
  position: relative;

  .loader-wrapper {
	position: absolute;
	top: 0;
  }
}

.chart-settings {
  height: 34px;
  padding: 4px 0 4px 24px;

  &:first-child {
	margin-left: 0;
  }

  .chart-setting {
	display: inline;
	margin-left: 0.4rem;

	.dropdown-menu {
	  background-color: $exchange-light-bg;
	  color: white;

	  .dropdown-item {
		font-size: 0.8rem;
		cursor: pointer;
		&:hover, &:focus, &:active {
		  background-color: lighten($exchange-light-bg, 3%);
		}
	  }
	}
  }
}

.chart-settings .chart-setting .dropdown-toggle, .chart-panel-header .btn {
  font-size: 0.8rem;
  padding: 0.16rem 0.45rem;
  background-color: $exchange-light-bg;
  color: white;
  margin-left: 4px;
  margin-right: 4px;

  &:focus, &:hover, &:active {
	outline: 0;
	box-shadow: 0 0;
	-webkit-box-shadow: 0 0;
  }

}

#depth-chart {
  padding-top: 34px;
}

.chart-panel {
  position: relative;
  .chart-panel-header {
	position: absolute;
	height: 34px;
	z-index: 1;
	overflow: hidden;
	right: 0;
	padding: 4px 4px 4px;

	.btn.active {
	  background-color: $primary-color;
	}
  }
}