// Colors
$primary-color: #4CAF50;
$dark-color: #0b1011;
$dark-light-color: #0e1416;


// Typography
//$dark-gray: #333;
$font-color: #333;


// Exchange
$exchange-bg: /*$dark-color;*/#202226;
$exchange-panel-bg: lighten($exchange-bg, 3%);
$exchange-light-bg: lighten($exchange-bg, 7%);
$exchange-text-color: white;

$buy-color: #8ec919;
$sell-color: #ff007a;

$exchange-sidebar-width: 500px;
$exchange-trade-panel-height: 256px;
$exchange-nav-height: 48px;


$spacing: 8px;

// Scrollbar
$scrollbar-bg: transparentize($dark-color, 0.8);
$scrollbar-color: transparentize(white, 0.90);