// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,300,700");

// Helpers
@import "helpers/variables";
@import "helpers/flex";

// Vendor
@import "~bootstrap/scss/bootstrap";
@import "vendor/paper-kit";
@import "vendor/icons";

// Base
@import "base";

// Components
@import "components/icons";

// Layout
@import "layout/sections";
@import "layout/footer";

// Pages
@import "pages/index";